<style>
body {
  background-image: url('https://vignette.wikia.nocookie.net/darksouls/images/e/ea/Cemetery_of_Ash_-_07.jpg/revision/latest?cb=20161026144628');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
</style>

<% if flash[:notice] %>
   <div class="notice"><%= flash[:notice] %></div>
 <% end %>

<%= form_for(@user) do |f| %>

  <div style = "position:absolute; left:40px; top:300px;">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
    <br>
    
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>
    <br>

    <%= f.submit 'Create character'%></div>
<% end %>