<style>
body {
  background-image: url('https://pbs.twimg.com/media/EYONBPBU8AEwRop.png');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
</style>

<% if flash[:notice] %>
   <div class="notice"><%= flash[:notice] %></div>
 <% end %>

<%= form_for(@user) do |f| %>

  <div style = "position:absolute; left:40px; top:300px;">
 <a style= "color:white;">
 <%= f.label :name %>
   <%= f.text_field :name, class: 'form-control' %>
    <br>
    
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %></a>
    <br>

    <div class="form-group">
        <a style= "color:white;"><%= f.label 'Check box if you want to Git Gud' %></a>
        <%= f.check_box :admin %>
        </div>

    <%= f.submit 'Create User'%></div>
<% end %>


https://www.google.com/url?sa=i&url=https%3A%2F%2Ffunnyjunk.com%2Fchannel%2Fdarksoulstime%2FDark%2Bsouls%2Bcomp%2B37%2FBDgoLOQ%2F&psig=AOvVaw3m_8FlE94mRGB011p5ufKN&ust=1594496760556000&source=images&cd=vfe&ved=0CAIQjRxqGAoTCKD5m7q5w-oCFQAAAAAdAAAAABDiAQ