<style>
body {
  background-image: url('http://darksouls3.wdfiles.com/local--files/image-set-bosses:iudex-gundyr-1/iudex_gundyr_1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
</style>

<% if flash[:notice] %>
   <div class="notice"><%= flash[:notice] %></div>
 <% end %>

<%= form_for(@user) do |f| %>

  <div style = "position:absolute; left:40px; top:300px;">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
    <br>
    
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>
    <br>

    <%= f.submit 'Create character'%></div>
<% end %>

https://pbs.twimg.com/media/EYONBPBU8AEwRop?format=png&name=900x900

https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.tumblr.com%2Ftagged%2Fcemetery-of-ash&psig=AOvVaw37HlZG5RYABCxv1aCaAEiZ&ust=1593026929718000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCJiysYfWmOoCFQAAAAAdAAAAABBG