<style>
body {
  background-image: url('https://steamuserimages-a.akamaihd.net/ugc/499143085897427594/F99324B44233866B8CAC97588A8C48F876A655EA/');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
</style>

<h1>.</h1>
<h2 style= "color:white;">Edit Character</h2>
<%= form_for(@character) do |f| %>
    <a style= "color:white;"<%= f.label 'Character Name' %></a><br>
    <%= f.text_field :name %><br><br>

    <%= simple_form_for (@character) do |f| %><br>
      <a style= "color:white;"><%= f.input :gender, collection: ["Male", "Female"]%></a><br>

    <%= simple_form_for (@character) do |f| %>
      <a style= "color:white;"><%= f.input :burial_gift, collection: ["Life Ring", "Divine Blessing", "Hidden Blessing", "Black Firebomb x5", "Fire Gem", "Sovereignless Soul", "Gold Coin x7", "Cracked Red Eye Orb x4", "Young White Branch"]%><br>

    <%= simple_form_for (@character) do |f| %>
      <a style= "color:white;"><%= f.input :subclass, collection: ["Knight", "Mercenary", "Warrior", "Herald", "Thief", "Assassin", "Sorcerer", "Pyromancer", "Cleric", "Deprived"]%><br>
  
    
    <%= f.submit "Update Character" %>
    <%end%>
    <%end%>
    <%end%>
<% end %>