<style>
body {
  background-image: url('https://steamuserimages-a.akamaihd.net/ugc/499143085897427594/F99324B44233866B8CAC97588A8C48F876A655EA/');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
</style>

<h1>.<h1>

  <%= simple_form_for(@character) do |f| %>
    
    <a style= "color:white;"><%= f.label 'Character Name' %></a>
    <%= f.text_field :name %><br>
    
    <%= simple_form_for (@character) do |f| %>
      <a style= "color:white;"  <%= f.input :gender, collection: ["Male", "Female"]%>
    


      <%= f.submit 'Create Character'%>
      <%end%>
<% end %>


