<style>
body {
  background-image: url('https://steamuserimages-a.akamaihd.net/ugc/499143085897427594/F99324B44233866B8CAC97588A8C48F876A655EA/');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
</style>

<h1>.<h1>

  <%= form_for(@character) do |f| %>
    
    <a style= "color:white;"><%= f.label 'Character Name' %></a>
    <%= f.text_field :name %><br>

    <a style= "color:white;"><%= f.label 'Gender' %></a>
    <select name="gender" id="character">
      <option value="male">Male</option>
      <option value="female">Female</option>
      </select>
      <br>

    <a style= "color:white;"><%= f.label 'Buarial Gift' %></a>
    <%= f.select ["a","b","c"] %><br>

    <a style= "color:white;"><%= f.label 'Subclass' %></a>
    <%= f.text_field :name %><br>

      <%= f.submit 'Create Character'%>
<% end %>

<%= f.select :email_provider, ["gmail","yahoo","msn"]%>
