<style>
body {
  background-image: url('https://steamuserimages-a.akamaihd.net/ugc/499143085897427594/F99324B44233866B8CAC97588A8C48F876A655EA/');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
</style>

<h1>.</h1>

<p style= "color:white;"><strong>Name:</strong> <%= @character.name %></p>
<p style= "color:white;"><strong>Gender:</strong> <%= @character.gender %></p>
<br>


<% if current_user %>
    <a style= "color:white;"<%= link_to "Edit Character", edit_character_path %></a>
<% else %>
    <%= form_tag(character_path method: :post) do %>
        <%= hidden_field_tag(:user_id, current_user.id) %>
        <%= hidden_field_tag(:character_id, @character.id) %>
        <%= submit_tag "Go through fog wall" %>
    <% end %>
<% end %>

