<!DOCTYPE html>
<html>
  <head>
    <title>Dark Souls Bonfire</title>
    <%= csrf_meta_tags %>
    

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
     <div style = "position:absolute; left:10px; top:0px;">
     <a href="/home/index"><img src="https://i.pinimg.com/originals/80/21/74/8021744fc275101ed9a4b75ace41f168.gif"
        alt="Home" width="60" height="60"></a>
        <a style="color:white;" class="navbar-brand" href="<%= root_url %>"/>Home</a>   
       

        <% if name = session[:name] %>
        <a style="color:white;" <%= link_to "Profile", profile_path, class: "navbar-brand" %></a>
      <a style="color:white;" <%=  link_to "Log Out", signout_path, class: "navbar-brand", method: "delete" %></a>

      <% elsif !logged_in? %>
      <a style="color:white;" <%= link_to "Sign In", signin_path, class: "navbar-brand" %></a>
      <a style="color:white;" <%= link_to "Sign Up", new_user_path, class: "navbar-brand" %></a><br>
      <a style="color:white;" <%= link_to 'Signing in with Github', '/auth/github'%></a>

      <% else %>
        <a style="color:white;" class="navbar-brand" href="/users/<%= current_user.id%>"/><%= current_user.name %>'s profile</a>
        <a style="color:white;" <%=  link_to "Log Out", signout_path, class: "navbar-brand", method: "delete" %></a>
      
      <%end%>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>

  <!-- content -->
  <div class="container"  role="main">
    <%= yield %>
  </div>
</body>
</html>
